<%- include('./header') -%>

<div class="container">
    <h4>Danh sách công việc</h4>

    <a href="/add"> <button class="btn btn-primary mb-2">Thêm</button></a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Sub tiêu đề</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <%for(let i=0; i<allTodos.length; i++) {%>
            <tr>
                <th scope="row"><%=i+1%></th>
                <td><%=allTodos[i].title %></td>
                <td><%=allTodos[i].subtitle%></td>
                <% if(allTodos[i].status == 0){%>
                <td>Chưa hoàn thành</td>
                <%}else{%>
                <td>Hoàn thành</td>
                <%} %>
                <td><button class="btn btn-primary">Chỉnh sửa</button></td>
            </tr>
            <%} %>
        </tbody>
    </table>
</div>
<%- include('./footer') -%>